<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">

    <div class="modal-content">

        <div class="modal-body"></div>

        <button type="button" class="btn" data-dismiss="modal">OK</button>

    </div>

</div>
