<!-- Modal -->
<div class="container">
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-body">
        </div>
          <button type="button" class="btn btn-outline-info" data-dismiss="modal">OK</button>
          <button type="button" class="btn btn-outline-info">Info</button>
      </div>
    </div>
  </div>
</div>
