<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/stylesheets/style.css">
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    {{> nav}}

    {{{ body }}}


    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="assets/js/app.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    {{!-- Code for transparent nav when scrolling down --}}
    <script src="/assets/js/transparent-nav.js"></script>
    <!-- Code for Parallax Background Effect-->
    <script src="/assets/js/parallax.js"></script>
    <script type="text/javascript">
        $('.parallax-window').parallax({imageSrc: '/assets/images/newspaper.jpg'});
    </script>

</body>
</html>
